body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0px;
}

ul {
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 1em;
}

li {
    background-color: lavender;
    display: inline-block;
    width: 20%;
}

p {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0px;
    width: 25%;
    box-sizing: border-box;
    /*određeni widht and height border-box*/
    margin-left: -4px;
}