body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #ddd;
    font-size: 16px;

     background:
     url(../../images/pattern.png),
     url(../../images/fire.png) center 35%/15% no-repeat fixed,
     url(../../images/blossom.jpg) center center/cover no-repeat fixed;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #333;
    color: #ddd;
}