
@import "base/reset";
@import "abstracts/mixins";


body{
    background-image: url(assets/media/clouds.jpg);
    
    
}

.logo {
    width: 300px;
    height: 200px;
}

.flex-container {
    @include initiate-flex(flex, row, center, space-around);

    height: 250px;

    img {
        height: 200px;
    }
}



