
$primary-color: lavender;
$box-size: 100px;

@mixin box-style($color) {
    background-color: $color;
    width: $box-size;
    height: $box-size;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

// Paceholder selector
// @extend / %

%box-paceholder {
    border: 1px solid purple;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



    div{
        @extend %box-paceholder;
        @include box-style($primary-color);
        font-size: 16px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@for $i from 1 through 3 {
    .box-#{$i} {
        &::after {
            content: "box " + $i;
        }
    }
}

// While loop

$i: 0;

@while $i <= 3 {
    .box-#{$i} {
        &::before {
            content: "This right here is "
        }
    }
    $i: $i + 1;
}


// IF else

$dar-mode: false;

@if dark-mode {
    body {
        background-color: #222;
    }
} @else {
    body {
        background-color: aliceblue;
    }
}

// Responsive design
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}