
$orange: orangered;
$lavander: lavender;
$blacke: #333;
$arial: "Arial, sans-serif";
$font1: "Tahoma, sans-serif";

body {
    background-color: $lavander;
    color: $orange;
    font-family: $arial;
}

h1 {
    color: $blacke;
}

a {
    font-family: $font1;
}

article {
    border: 2px solid $orange;
    margin: 1em;
}