* {
    margin: 1px;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.wrapper {
    border: 1px solid black;
    padding: 1em;
}

.wrapper div {
    background-color: lavender;
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
    width: 500px;
    height: 100px;
    margin: 2.5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*pitati*/
.flex-item {
    flex-grow: 1;
}

/*pitati*/
.flex-item:nth-child(10) {
    flex-shrink: 100;
}